@charset "utf-8";
/* CSS Document */


 #edicion fieldset {
	margin-top: 25px;
	padding: 15px;
	border: 1px solid #d1d1d1;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

}

#edicion fieldset legend {
	font: normal 30px Verdana, Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px #fff;
	letter-spacing: -1px;
	color: #273953;
}

#edicion input, # registro textarea {
	padding: 3px;
}

#edicion label {
	cursor: pointer;
}
#edicion form input,
#edicion form textarea,
#edicion form select

{
	display:block;
	margin-top:6px;
	margin-bottom:20px;
	width:300px
}
#edicion form input#validacion
{
		width:150px
}

#edicion form label#label{
		display:none;
	}
