@charset "utf-8";
/* CSS Document */

<!-- FECHA -->

/*#global_lateralycontenido #contenido #principal_1col div.mifecha {
   background-color: #999;
   padding: 2px;
   width: 50px;
   text-align: center;
   font-family:verdana, arial;
   font-size: 12pt;
   float:right;
   margin-left:20px;
   position:relative;
   top:40px;
   left:800px
}
#principal_1col .mifecha .ano{
   background-color: #900;
   padding: 2px;
   font-size: 50%;
   margin-bottom: 2px;
   color: #fff;
   letter-spacing: 3px;
   font-weight: bold;
}
#principal_1col .mifecha .dia{
   background-color: #fff;
   font-size: 100%;
   padding: 3px 8px;
   margin-bottom: 2px;
   font-weight: bold;
}
#principal_1col .mifecha .mes{
   background-color: #666;
   font-size: 60%;
   padding: 2px;
   color: #fff;
   font-weight: bold;
}*/